USE [master]
GO
/****** Object:  Database [RegisterAndLoginDB]    Script Date: 07/01/2019 14:02:20 ******/
CREATE DATABASE [RegisterAndLoginDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegisterAndLoginDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RegisterAndLoginDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegisterAndLoginDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\RegisterAndLoginDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegisterAndLoginDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegisterAndLoginDB]
GO
USE [RegisterAndLoginDB]
GO
/****** Object:  Table [dbo].[UsersTB]    Script Date: 07/01/2019 14:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_UsersTB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsersTB] ON 

INSERT [dbo].[UsersTB] ([Id], [Name], [Email], [Pass]) VALUES (1, N'avi', N'avi@a.com', N'123')
INSERT [dbo].[UsersTB] ([Id], [Name], [Email], [Pass]) VALUES (2, N'b', N'b@b.com', N'222')
INSERT [dbo].[UsersTB] ([Id], [Name], [Email], [Pass]) VALUES (3, N'c', N'c@c.com', N'3')
SET IDENTITY_INSERT [dbo].[UsersTB] OFF
USE [master]
GO
